<h1>Demo Page</h1>
<p class='updated'><strong><em>Updated for React 18. . .<em></strong></p>

<%= javascript_pack_tag 'hello_react' %>
<%= react_component('demo/hello_world', {greeting: 'Welcome to Rails / React!'}) %>
